<div class="st-search-bar st-mobile-searchbox">
  <svg
    class="st-search-icon icon icon-search"
    height="1.8rem"
    width="1.8rem"
    aria-hidden="true"
    focusable="false"
    role="presentation"
  >
      <use href="#icon-search">
    </use>
  </svg>
  <input
    type="text"
    name="s"
    placeholder="Search..."
    value=""
    autocapitalize="off"
    autocomplete="off"
    autocorrect="off"
  >
  <span class="input-close-btn"></span>
</div>

<style>
  @media (max-width: 834px) {
    .st-search-bar.st-mobile-searchbox {
      display: block !important;
      width: 100%;
    }
    .search-modal__content.search-modal__content-bottom {
      border: none !important;
    }

    .st-search-bar {
      margin-left: 0px;
    }
  }

  @media (min-width: 835px) {
    .st-search-bar.st-mobile-searchbox {
      display: none !important;
    }
  }
</style>
